@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f1;
  border: 1px solid rgb(222, 241, 255);
}

nav {
  border-bottom: rgb(215, 215, 215) solid 1px;
}

.genLayout {
  max-width: 1000px;
  margin: auto;
}
.hamburger,
#toggle {
  display: none;
}
.Logo {
  /* border: 2px red solid; */
  position: absolute;
  top: 3%;
  left: 11%;
  z-index: -1;
}
.innerNav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  
}

.innerNav > h1 {
  font-family: "Della Respira", serif;
  color: #2f4f44;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 1400;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}


.navLinks > a {
  color: #385f51;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 450;
}

.navLinks > a:first-child {
  color: #385f51;
  border-bottom: #e57e2f solid 2px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 450;
}

.navRight {
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.btn {
  background-color: #163b34;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0.7rem 2.3rem;
  border-radius: 8px;
  border: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  padding-block: 4rem;
}

.banner > h1 {
  font-family: "Nunito", sans-serif;  
  font-size: 55px;
  font-weight: 850;
  color: #163b34;
}

.orangeBackground {
  border: none;
  width: 210px;
  background-color: #ef9d5e;
  margin-right: 28rem;
  margin-top: -2.5rem;
  z-index: -1;
}
  .orangeBackground > h3 {
    opacity: 1%;
  }

.banner > P {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #385f51;
}

.bannerImg {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.bannerImg > img {
  object-fit: cover;
}

.chefLady {
  width: 90%;
  margin-left: 2.5rem;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem;
}

.chefLady > img {
  width: 100%;
  border-radius: 10px;
}

.offer {
  margin-top: 2rem;

}

.offer > h5 {
  font-family: "Nunito", sans-serif;
  font-size: 33px;
  font-weight: 850;
  color: #163b34;
  text-align: center;
}

.offerContents {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.foodCard > span {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.foodCard > span > img {
  width: 50px;
}

.foodCard > h4 {
  margin-block: 0.8rem;
  margin-right: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #163b34;
}

.foodCard > p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #385f51;
}
 
.cookingIllustration {
  margin-top: 4rem;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 30px;
}

.theory {
  flex: 1;
}
.theory > h5 {
  margin-bottom: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 33px;
  font-weight: 850;
  color: #163b34;
}

.theory > p {
  /* border: rgb(187, 31, 70) solid 2px; */
  width: 350px;
  margin-bottom: 15px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #385f51;
}

.cutting {
  border-radius: 15px;
  flex: 1;
}
.cutting > img {
  border-radius: 15px;
  width: 100%;
}


.backdropOrangeColor2 > bb {
  opacity: 10%;
}

.lowBanner {
  /* border: solid 4px greenyellow; */
  border-radius: 15px;
  background-color: #e3e9e2;
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 60px

}
.cookSmarter > h5 {
  font-family: "Nunito", sans-serif;
  font-size: 33px;
  font-weight: 850;
  color: #163b34;
}

.cookSmarter > p {
  width: 25rem;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #385f51;
  margin-block: 0.5rem;
  margin-left: -5px;
}

.cookSmarter > .btn {
  background-color: #163b34;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0.7rem 2.3rem;
  border-radius: 8px;
  border: none;
  margin-left: 100px;  
}

.closeUP {
  border: red solid 3px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   
  
   
   
}
/* Responsive Code Styling  */
@media (min-width: 360px) and (max-width: 560px) {
  .innerNav {
    width: calc(100% - 40px);
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
    color: #163b34;
    font-weight: 800;
  }

  .navRight {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 95%;
    padding: 1.3rem 1rem;
    top: 3.3rem;
    right: 3px;
    z-index: 1;
    background: #fff;
    /* opacity: .8; */
    border-bottom: 4px solid #163b34;
  }

  .navLinks {
    flex-direction: column;
  }

  .navLinks > a {
    /* text-align: center; */
    color: #163b34;
  }
  .navLinks > a:last-child {
    padding-bottom: 2rem;
  }

  #toggle:checked + .navRight {
    display: block;
  }
  .banner {
    width: calc(100% - 40px);
  }

  .banner > h1 {
    font-size: 40px;
  }

  .bannerImg {
    width: calc(100% - 40px);
    margin-bottom: 12rem;
    /* gap: 10rem; */
  }
  .chefLady {
    width: 100%;
    height: 40vh;
    margin: 0;
  }

  .bannerImg > img {
    width: 200px;
    height: 20vh;
  }

  .chefLady > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .offer {
    width: calc(100% - 40px);
  }

  .offerContents {
    flex-direction: column;
  }

  .foodCard {
    width: 100%;
    padding-block: 5px;
    border-bottom: 2px solid #385f51;
  }

  .cookingIllustration {
    width: calc(100% - 40px);
    flex-direction: column;
  }
}
